@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 12px;
    height: 100vh;
    font-size: 16px;
}

#container {
    font: 14px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    line-height: 24px;
    height: 20px;
    padding: 0px 16px;
    color: #999;
    font-size: 17px;
    font-weight: 700;
    width: 100%;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: block;
    color: #000;
    margin-bottom: 8px;
    cursor: pointer;
}

h2:hover {
   color: #09f;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-left: 20px;
    display: block;
    color: #252323;
    margin-top: 20px;
}


.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #d1d1d1;
}

.header_menu {
    display: block;
    float: left;
    height: 24px;
    width: 40px;
    margin-top: 16px;
}

a.header_logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-top: 8px;
    color: black;
    display: block;
    float: left;
    width: 72px;
    height: 48px;
}

.header_nav {
    margin-right: 340px;
    margin-left: 50px;
}

ul.header_nav_ul {
    list-style-type: none;
    overflow: hidden;
    height: 48px;
}

.header_nav_ul li {
    display: block;
    float: left;
}

.header_nav_ul a {
    display: block;
    color: #000;
    position: relative;
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 8px;
    text-align: center;
    box-sizing: border-box;
}

.header_right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 10px;
    width: 305px;
}

.header_login {
    display: flex;
}

.header_search {
    padding: 6px 0;
    float: left;
    padding: 7px 11px;
    border: 50% solid transparent;
    border-radius: 50%;
}

.header_search a {
    display: block;
    float: left;
    font-size: 20px;
    color: #706c6c;
}

.header_search:hover {
    background-color: #e0d9d9;
}

.header_btn {
    display: inline-block;
    color: #999;
    line-height: 30px;
    padding: 0 12px;
    font-weight: 700;
    border: 1px solid transparent;
    background-color: #fff;
    cursor: pointer;
}

.header_username{
    width: 90px;
    height: 30px;
    color: #000000;
    line-height: 20px;
    padding: 0 20px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}



.header_logout{
    width: 90px;
    height: 20px;
    display: inline-block;
    line-height: 10px;
    padding: 0 20px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #050505;
    background-color: #fff;
    cursor: pointer;
    margin-top: 4px;
}

.header_btn_post {
    color: #fff;
    display: inline-block;
    height: 36px;
    padding: 8px 16px;
    border-radius: 18px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background-color: #09f;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    box-sizing: border-box;
}

.header_btn_post:hover {
    background-color: rgb(10, 108, 173);
}

.body {
    /* width:1220px; */
    margin-top: 0px;
    margin-bottom: 32px;
    /* display: flex; */
    padding-top: 70px;
}

.main_content_right {
    margin-left: 325px;
    float: left;
    width: 600px;
}

.sticky {
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    display: inline-block;
}

.main_content_right_tag {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.main_content_right_sticky {
    position: relative;
    display: block;
    width: auto;
    white-space: nowrap;
    overflow-x: hidden;
    scroll-snap-align: none;
    overflow-y: hidden;
    height: 60px;
    padding-bottom: 12px;
    background-color: inherit;
}

.main_content_right_sticky::-webkit-scrollbar {
    width: 20px;
}

.main_content_right_sticky:hover {
    overflow-x: scroll;
}

.main_content_right_sticky a {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-right: 8px;
    color: #000;
    text-decoration: none;
    padding: 0 16px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, .1);
    white-space: nowrap;
}

.main_content_right_tag a {
    display: block;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #e0dcdc;
    color: #000;
    text-decoration: none;
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
}
.main_content_right_post_body {
    width: 600px;
}
.main_content_right_post_body img {
    width: 600px;
}

.star {
    color: #d8d8d8;
    margin-left: 100px;
    font-size: 16px;
}

.star:hover {
    color: #302e2e;
}

.main_content_right_post {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 30px;
}

.main_content_right_post_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000;
}

.main_content_right_post_footer {
    display: flex;
    margin: 15px 0px 50px 0px;
    gap: 25px;
}

.main_content_left {
    margin-left: 30px;
    width: 20%;
    height: 100%;
    position: fixed;    
    border: none;
    aspect-ratio: 9/8;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main_content_left::-webkit-scrollbar {
    display: none;
}


.main_content_left_9gag {
    margin: 4px 0 8px;
}

.main_content_left_list li:hover {
    background-color: #c9c0c0;
}

.main_content_left_list li{
    margin: 0;
    padding: 0;
    outline: 0;
    height: 32px;
    font-size: 16px;
    font-weight: 650;
    margin-top: 6px;
    padding: 4px 18px;
    background: rgba(255, 255, 255, 0.849);
}

.main_content_left_list li svg{
    width:20px;
    height:20px;

    
}

.main_content_left_tag {
    margin-top: 20px;
}

.tag:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}
.btn_content {
    width: 65px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    cursor: pointer;
}

.btn_content i {
    gap: 30px;
}

.btn_content:hover {
    background-color: #b3adad;
}

img {
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.row .ads{
    position: fixed;
    top: 70px;
    left: 1000px;
    width: 20%;
    height: 100%;
    margin-left: 1000px;
    aspect-ratio: 3.2/8;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
}

.ads::-webkit-scrollbar {
    display: none;
}

.ads_login {
    border: 1px solid #e4e1e1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.ads_login a {
    width: 65%;
    color: #fff;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 700;
    background-color: #07f;
    border-radius: 18px;
    margin-top: 6px;
    text-align: center;
}

.ads_content {
    text-align: start;
    font-weight: bold;
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.name_user {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
